/* my nav */
nav{
  background-color: white;
  background-image: url(./components/Images/NavBack.jpg);
  background-repeat: no-repeat;
  background-position-y: -75px;
  background-position-x: center;
  font-family: 'Fascinate', cursive;
  height: auto;
}



.FlyingPig{
  border-radius: 50%;
  height: 75px;
  width: 100px;
}

a.nav-link{
  color: black;
}
a.nav-link:hover{
  color: red;
}
/* my nav */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Below is the CSS for the about pages. Img and card details. */
.card {
  width: 70%;
  width: 85%;
  height: 25%;
  color: rgb(82, 58, 58);
  position: static;
  font-size: 17px;
  /* border: black;
  border-width: medium; */

}

div.about {
  border: thick;
  border-color: tomato;
}

/* #deck{
  border: black;
  border-width: thick;
} */

img{
  width: 150px;
  height: 150px;
 border-radius: 50%;
  border-Width: 3;
  border-Color: red
  
}
#drake {
  align-self: flex-end;
}
#aarika{
  align-self: flex-end;
}
blockquote {
  font-family: font-family 'Montserrat', sans-serif;
}


div.post-container {
  align-self: center;
}
div.image{
  display: flexbox;
  align-self: center;
  
}
div.city{
  display: flex;
  align-self: center;
}




/* About Page Style End */

