*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
/* my nav */
nav{
  /* display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height:8vh;
  background-color: blue; */
  font-family: 'Fascinate', cursive;
  /* color: red; */
}
/* my nav */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 70%;
  width: 85%;
  height: 25%;
  color: rgb(236, 9, 9);
  position: static;
  /* border: black;
  border-width: medium; */



}

/* #deck{
  border: black;
  border-width: thick;
} */

img{
  width: 150px;
  height: 150px;
 border-radius: 50%;
  border-Width: 3;
  border-Color: red
  
}
#drake {
  align-self: flex-end;
}
#aarika{
  align-self: flex-end;
}
blockquote {
  font-family: font-family 'Montserrat', sans-serif;
}
/* .post-container {
  background: rgb(60, 62, 65);
} */


